<div  class="container">
  <div class="box">
      <div class="ticket">
          <div class="left">
              <img src="assets/qr.png" class="qr">
              <p class="seat-no">B 101</p>
              <p class="invoice-no">#67658857</p>
          </div>
          <div class="right">
              <div>
                  <img src="assets/spiderman.jpg" class="movie-image">
                  <p class="seat-no">Spider Man - No Way Home [Hindi]</p>
                  <div class="bottomline">
                      <img src="assets/bucket.png" class="bucket">
                      <p>Timing : 10 AM - 1:30 PM</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  

  <button id="dw_bt">Download Ticket</button>
</div>